html{
    font-family: Vazir , Shabnam , AktivGrotesk , sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
#top{
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    
}
.first-header{
    font-size: 0.9rem;
    width: 100%;
    height: 40px;
    background: rgb(241, 241, 241);
    position: relative;
}
/*  bag prevew section */
#bag_preview{
    position: absolute;
    width: 23%;
    background-color: rgb(241,241,241);
    top: 2.7rem;
    right: 2%;
    padding: 1rem 0;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-gutter: auto;
    transform-origin: bottom;
    transform: translateY(-500px);
    z-index: 1;
    transition: 400ms;
}
#bag_preview::-webkit-scrollbar {
    width: 8px;
  }
#bag_preview::-webkit-scrollbar-track {
    background-color: rgb(241,241,241);
    border-radius: 100px;
}
#bag_preview::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #727272;
}
#bag_preview h3{
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(181 181 181);
}
.basket_item_box{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 5%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(181,181,181);
}
.basket_item_info{
    width: 65%;
}
.box_name{
    width: 100%;
    font-size: 1.05rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1rem ;
}
.box_picture{
    direction: ltr;
    background-image: url(../public/images/boshghab-2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.box_type{
    margin-bottom: 1rem;
}
.box_class{
    display: inline-block;
}
.box_price{
    display: inline-block;
    margin-top: 0.6rem;
    margin-right: auto;
}
.checkout_box{
    border-top: 2px solid black;
    padding: 1rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.total_money{
    text-align: left;
    width: 40%;
    margin-top: 0.3rem;
}
.total{
    width: 40%;
    font-size: 1.05rem;
}
.button{
    width: 100%;
}
.checkout_box button{
    margin-top: 1rem;
    font-family: inherit;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0.5rem 0;
    transition: 400ms;
    width: 100%;
}
.checkout_box button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 400ms;
}
@media (max-width: 90rem) {
    #bag_preview h3,
    .total{
        font-size: 1rem;
    }
    #bag_preview{
        width: 33%;
    }
}
@media (max-width: 64rem) {
    #bag_preview h3,
    .total{
        font-size: 0.8rem;
    }
    #bag_preview{
        width: 38%;
    }
    .box_name{
        font-size: 0.8rem;
    }
}
@media (max-width: 48rem) {
    #bag_preview h3,
    .total{
        font-size: 0.7rem;
    }
    #bag_preview{
        width: 42%;
        top: 2rem;
    }
    .box_name{
        font-size: 0.5rem;
    }
    .checkout_box button{
        padding: 0.5rem 0;
        font-size: 0.7rem;
    }
}
/* header section*/
#shop{
    top: 20%;
    right: 2%;
    position: absolute;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
#bag_pic{
    margin-left: 0.4rem;
    width: 30px;
    height: 25px;
    transition: 300ms;
    background-image: url(../public/images/bag.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

#bag{
    transition:  300ms ;
}

#shop:hover #bag{
    transform: scale(1.04);
    transition:  300ms ;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#profile{
    top: 40%;
    right: 10%;
    display: inline-flex;
    align-items: center;
    position: absolute;
    transition: 300ms;
}
#profile:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition:  300ms ;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#contact{
    position: absolute ;
    top: 40%;
    left: 15%;
    transition: 300ms;
}
#contact:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition:  300ms ;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
#lang{
    position: absolute ;
    top: 40%;
    left: 3%;
    transition: 300ms;
}
#lang-list{
    position: absolute;
    display: inline-flex;
    top: 100%;
    width: 10%;
    padding: 1%;
    left: 3%;
    background: rgb(241, 241, 241);
    flex-wrap: wrap;
    transform : translateY(-500px);
    transition: 500ms;
    z-index: 0;
}
#lang-list h4{
    width: 100%;
    font-size: 1rem !important;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}
#lang-list label{
    width: 75%;
    margin-top: 1rem;
}
#lang-list input{
    margin-top: 1rem;
    height: auto !important;
    width: max-content !important;
}
#lang-list button{
    border: none;
    width: 100%;
    margin-top: 1rem;
    font-family: inherit;
    background-color: black;
    color: white;
    transition: 400ms;
    padding: 0.2rem 0;
}
#lang-list button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 400ms;
}
#lang:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition:  300ms ;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.middle_header{
    display: inline-block;
    width: 85% ;
}
#delika_logo{
    display: inline-block;
    width: 13%;
    height: 8rem;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../public/images/DELIKA-03.png);
}
#web-name{
    width: 85%;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    padding: 1% ;
    margin-bottom: 1rem;
}

.secound-header{
    box-sizing: border-box;
    width: 100%;
}
.secound-header ul{
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
@media (max-width: 90rem) {
    #web-name{
        font-size: 1.8rem;
    }
    #profile{
        right: 17%;
    }
    #lang-list{
        width: 20%;
    }
    #delika_logo{
        height: 5rem;
    }
    .secound-header ul{
        font-size: 1rem;
    }
}
@media (max-width: 64rem) {
    .first-header{
        height: 35px;
        font-size: 0.7rem ;
    }
    #web-name{
        font-size: 1.4rem;
        margin-top: 0rem;
        margin-bottom: 0;
    }
    .secound-header{
        margin-right: -5%;
    }
    #delika_logo{
        vertical-align: middle;
    }
    .secound-header ul{
        font-size: 0.7rem;
        justify-content: center;
    }
    .secound-header li{
        width: 20%;
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 47rem) {
    .first-header{
        height: 27px;
        font-size: 0.5rem ;
        margin-bottom: 0.5rem;
    }
    #shop{
        right: 3%;
        top: 20%;
    }
    #bag_pic{
        width: 15px;
        height: 20px;
    }
    #profile{
        right: 20%;
        top: 35%;
    }
    #contact{
        left: 20%;
        top: 35%;
    }
    #lang{
        top: 35% ;
    }
    #lang-list h4{
        font-size: 0.8rem;
    }
    .secound-header{
        margin-right: -7%;
    }
    .secound-header ul{
        justify-content: space-around;
        width: 110%;
    }
    .secound-header li{
        width: 24%;
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 30rem) {
    .first-header{
        font-size: 0.35rem;
        height: 22px;
        margin-bottom: 0.3rem;
    }
    #bag_pic{
        width: 8px;
        height: 10px;
    }
    .secound-header{
        margin-right: -8%;
    }
    #bag {
        margin-top: 0.2rem;
    }
    #profile{
        right: 28%;
        top: 38%;
    }
    #contact{
        left: 28%;
        top: 38%;
    }
    #lang{
        top: 38% ;
    }
    #lang-list{
        width: 40%;
        padding: 3%;
    }
    #web-name{
        font-size: 0.8rem;
        margin: 0;
    }
    #delika_logo{
        height: 4rem;
        margin: 0 2% 0 0;
    }
    .middle_header{
        width: 81%;
    }
    .secound-header{
        margin-right: -5%;
        width: 110%;
    }
    .secound-header li{
        font-size: 0.5rem;
        margin-top: 0.5rem;
    }
    .secound-header ul{
        width: 100%;
    }
}
#menu a:hover{
    color: rgb(95, 95, 95);
}
#secound-header-list{
    font-size: 0.9rem;
    width: 100%;
    background: rgb(241, 241, 241);
    padding: 1% 4%;
    z-index: -1;
    position: absolute;
    transform: translateY(-300px);
    transition: 500ms ;
}
@media (max-width: 64rem) {
    #secound-header-list{
        font-size: 0.7rem;
    }
}
#list li{
    display: inline-flex;
    width: 33%;
    line-height: 2;
}
#list h4:hover{
    cursor: pointer ;
    transform: scale(1.05);
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    transition: 400ms;
}


#hiden_contact{
    display: none;
    margin-top: 12rem;
    background: rgb(241, 241, 241);
    width: 100%;
}
#hiden_contact h2{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}
.back{
    margin: 1rem 20% 0 0;
    width: 1%;
    height: 1%;
    transition: 500ms;
}
@media (max-width: 90rem) {
    #hiden_contact h2{
        padding-top: 4rem;
    }
    .back{
        margin: 2rem 3% 0 0;
        width: 2%;
        height: 2%;
    }
}
@media (max-width: 64rem) {
    #hiden_contact h2{
        padding-top: 6rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 48rem) {
    #hiden_contact{
        margin-top: 7rem;
    }
    .back{
        margin: 1.8rem 13% 1rem 0;
        width: 4%;
        height: 4%;
    }
}
@media (max-width: 30rem) {
   #hiden_contact{
       margin-top: 5rem;
   }
   #hiden_contact h2{
    padding-top: 2rem;
    font-size: 0.8rem;
    margin-bottom: 0;
   }
   .back{
    margin: 0.5rem 7% 0rem 0;
    width: 5%;
    height: 5%;
    }
}

.back:hover .xy ,
.back:hover .yx{
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.back:hover{
    transform: scale(1.2);
    transition: 500ms;
}
.xy{
    border-bottom: 2px solid rgb(26, 26, 26);
    transform: rotate(45deg);
}
.yx{
    border-top: 2px solid rgb(26, 26, 26);
    transform: rotate(-45deg);
}
#ways{
    padding-right: 20%;
    margin-bottom: 12rem;
    width: 60%;
    display: inline-flex;
    justify-content: center; 
    text-align: center;
}
#hiden_contact .items{
    position: relative;
    background-color: white;
    margin: 0.2%;
    padding: 1%;
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}
.contact-picture{
    margin-top: 15%;
    margin-bottom: 20%;
    width: 25%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
#instagram .contact-picture{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png);
}
#email .contact-picture{
    background-image: url(https://seeklogo.com/images/G/gmail-icon-logo-9ADB17D3F3-seeklogo.com.png);  
}
#call .contact-picture{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Green_Phone_Font-Awesome.svg/512px-Green_Phone_Font-Awesome.svg.png);  
}

#ways h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15%;
} 
#ways p {
    line-height: 1.8;
    font-weight: 300;
}
.call-box {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 2%;
    width: 60%;
    border: 1px solid black;
    padding: 5% 0;
    transition: 500ms;
    margin-bottom: 1rem;
}
.call-box:hover{
    background-color: white;
    color: black;
    transition: 500ms;
}
@media (max-width: 90rem) {
    #ways{
        padding-right: 10%;
        width: 80%;
    }
    #hiden_contact .items{
        width: 70%;
    }
}
@media (max-width: 64rem) {
    .contact-picture{
        width: 20%;
        height: 10%;
        margin-top: 10%;
        margin-bottom: 12%;
    }
}
@media (max-width: 48rem) {
    #ways{
        padding-right: 20%;
        width: 60%;
        flex-direction: column;
    }
    #hiden_contact .items{
        width: 100%;
        height: 400px;
        margin-bottom: 0.5rem;
    }
    .contact-picture{
        height: 22%;
        margin-bottom: 8%;
    }
    #ways h3 {
        margin-bottom: 10%;
        font-size: 1rem;
    }
}
@media (max-width: 30rem) {
    #ways{
        padding-right: 15%;
        width: 70%;
    }
    #hiden_contact .items{
        height: 225px;
    }
    .contact-picture{
        width: 30px;
        height: 30px;
    }
    #ways h3 {
        margin-bottom: 8%;
    }
    #ways p{
        font-size: 0.7rem;
    }
    .call-box{
        padding: 3% 0;
    }
}

/*------------------------ footer  -------------------*/

.ending{
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgba(233, 233, 233, 0.9) ;
    filter: drop-shadow(0px -10px 10px rgba(0,0,0,0.5));
    box-sizing: border-box;
}
.ending .titr{
    display: inline-flex;
    flex-direction: column;
    width: 29%;
    margin: 1rem 3% 0 0;
}
.titr hr{
    width: 100%;
    border: 1px solid #505050;
}
.ending p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
}
.ending ul{
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 500;
}
.ending .contact{
    line-height: 2;
    font-size: 1rem;
    font-weight: 500;
}
.ending li{
    width: 46%;
    padding: 1%;
    display: inline-flex;
    transition: 400ms;
}
.ending a:hover{
    transform: scale(1.05);
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    transition: transform 400ms;
}
.contact li{
    width: 98%;
    padding: 1%;
    display: inline-flex;
}
.contact p{
    margin-left: 2%;
}
.ending .contact-pic{
    margin-left: 3%;
    width: 5%;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
#instagram-pic{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png);
}
#call-pic{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Green_Phone_Font-Awesome.svg/512px-Green_Phone_Font-Awesome.svg.png);
}
#email-pic{
    background-image: url(https://seeklogo.com/images/G/gmail-icon-logo-9ADB17D3F3-seeklogo.com.png);  
}
@media (max-width: 90rem) {
    .ending .contact-pic{
        width: 8%;
    }
}
@media (max-width: 64rem) {
    .ending .titr{
        font-size: 1rem;
    }
    .ending p ,
    .ending li{
        font-size: 0.8rem;
    }
    .ending .contact-pic{
        width: 7%;
        height: 18px;
    }
}
@media (max-width: 48rem) {
    .ending .titr{
        font-size: 1rem;
    }
    .ending p ,
    .ending li{
        font-size: 0.5rem;
    }
    .ending ul{
        line-height: 1;
    }
    .ending .contact{
        line-height: 1.5 ;
    }
    .ending .contact-pic{
        height: 13px;
    }
}
@media (max-width: 30rem) {
    .ending .titr{
        width: 96%;
        margin: 1rem 2% 0 0;
        font-size: 0.6rem;
    }
    .ending p ,
    .ending li{
        font-size: 0.4rem;
    }
    .ending li{
        width: 30%;
        line-height: 1;
        padding-top: 0;
        padding-bottom: 0;
    }
    .contact li{
        width: 47%;
    }
    .ending .contact-pic{
        height: 12px;
        width: 8%;
    }
    
}
.coppyright{
    text-align: right;
    padding: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
}
@media (max-width: 48rem) {
    .coppyright{
        font-size: 0.6rem;
        padding: 0.6rem;
    }
}
@media (max-width: 30rem) {
    .coppyright{
        font-size: 0.4rem;
        padding: 0.4rem;
    }
}

#notfication{
    display: flex;
    z-index: 2;
    line-height: 1.8;
    position: fixed;
    left: 0%;
    bottom: 3rem;
    width: 18%;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: transform 600ms ;
    transform: translateX(-1000px);
}
#notfication p{
    padding: 1rem 5%;
}
#notif_icon{
    width: 15%;
    padding: 4% 1%;
}
#notif_image{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 64rem) {
    #notfication{
        width: 30%;
        font-size: 0.8rem;
    }
    #notfication p{
        padding: 0.3rem 4%;
    }
    #notif_icon{
        width: 10%;
        padding: 0.2rem 1%;
    }
}
@media (max-width: 47rem) {
    #notfication{
        width: 35%;
        font-size: 0.5rem;
    }
    #notfication p{
        padding: 0.3rem 4%;
    }
    #notif_icon{
        width: 15%;
        padding: 0.2rem 1%;
    }
}
@media (max-width: 30rem) {
    #notfication{
        width: 40%;
    }
}
#not_founded{
    width: 100%;
    text-align: center;
    color: rgb(129 129 129);
    font-size: 2em;
    margin-top: 17rem;
}