#mid{
    margin: 12rem 9%;
    padding: 2rem 5%;
    width: 70%;
    background: rgb(241, 241, 241);
}
#mid h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#mid p{
    line-height: 1.8;
    margin-bottom: 2rem;
}
#mid form{
    width: 100%;
}
#request_form label{
    width: 30%;
    display: inline-block;
}
#request_phone,
#request_name ,
#mid button{
    margin-top: 1rem;
    padding: 0 2%;
    font-family: inherit;
    border: none;
    height: 3rem;
    resize: none;
    width: 25%;
    transition: 400ms;
}
.radio_style{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem 2%;
    width: 20%!important;
    margin: 2rem 0 2rem 2%;
    background-color: white;
    transition: 400ms;
}
#mid textarea{
    font-family: inherit;
    resize: none;
    vertical-align: text-top;
    width: 40%;
    border: none;
    height: 10rem;
    transition: 400ms;
}
.radio_style:hover ,
#mid textarea:hover ,
#request_phone:hover,
#request_name:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
#mid button{
    margin-right: 75%;
    background-color: black;
    color: white;
    transition: 400ms;
}
#mid button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 400ms;
}
input[type="radio"] {
    vertical-align: middle;
}
@media  (max-width: 64rem) {
    #mid{
        margin: 10rem 5%;
        width: 80%;
    }
    #mid h2{
        font-size: 1.3rem;
    }
    #mid p{
        font-size: 0.9rem;
        line-height: 1.5;
    }
    #request_phone,
    #request_name ,
    #mid button{
        margin-top: 1rem;
        margin-right: 5%;
        padding: 0 2%;
        height: 3rem;
        width: 30%;
        font-size: 0.9rem;
    }
    #request_form label{
        font-size: 0.9rem;
        line-height: 1.8;
    }
    #mid textarea{
        width: 50%;
        font-size: 0.9rem;
    }
    #mid button{
        margin-right: 70%
    }
}
@media  (max-width: 47rem) {
    #mid h2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    #mid p{
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }
    #request_phone,
    #request_name ,
    #mid button{
        margin-top: 0.6rem;
        height: 2rem;
        font-size: 0.6rem;
    }
    #request_form label{
        font-size: 0.6rem;
        line-height: 1.5;
    }
    .radio_style{
        padding: 0.5rem 2%;
        width: 20%!important;
        margin: 1rem 0 1rem 2%;
    }
    #mid textarea{
        width: 50%;
        font-size: 0.6rem;
        height: 6rem;
    }
}
@media  (max-width: 47rem) {
    #mid{
        margin: 5rem 2%;
        width: 86%;
    }
    #mid h2{
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }
    #mid p{
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #request_phone,
    #request_name ,
    #mid button{
        margin-top: 0.6rem;
        height: 1.1rem;
        font-size: 0.5rem;
    }
    #request_form label{
        font-size: 0.4rem;
        line-height: 1.5;
    }
    .radio_style{
        padding: 0.25rem 2%;
        width: 25%!important;
        margin: 0.5rem 0 0.5rem 2%;
    }
    input[type="radio" i] {
        margin: 0px 0px 0px 5px;
    }
    input[type="radio"] {
        -ms-transform: scale(0.5); 
        -webkit-transform: scale(0.5); 
        transform: scale(0.5);
    }
    #mid textarea{
        width: 60%;
        font-size: 0.6rem;
        height: 5rem;
    }
    #mid button{
        margin-right: 63%
    }
}