#mid{
    margin: 12rem 9%;
    padding: 2rem 5%;
    width: 70%;
    background: rgb(241, 241, 241);
}
#mid h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#mid p{
    line-height: 1.8;
    margin-bottom: 2rem;
}
#mid form{
    width: 100%;
}
#request_form label{
    width: 30%;
    display: inline-block;
}
#request_phone,
#request_name ,
#mid button{
    margin-top: 1rem;
    padding: 0 2%;
    font-family: inherit;
    border: none;
    height: 3rem;
    resize: none;
    width: 25%;
    transition: 400ms;
}
.radio_style{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem 2%;
    width: 20%!important;
    margin: 2rem 0 2rem 2%;
    background-color: white;
    transition: 400ms;
}
#mid textarea{
    font-family: inherit;
    resize: none;
    vertical-align: text-top;
    width: 40%;
    border: none;
    height: 10rem;
    transition: 400ms;
}
.radio_style:hover ,
#mid textarea:hover ,
#request_phone:hover,
#request_name:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
#mid button{
    margin-right: 75%;
    background-color: black;
    color: white;
    transition: 400ms;
}
#mid button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 400ms;
}