.item_detail{
    margin: 12rem 5% 0 5%;
    width: 85%;
    background: rgb(241, 241, 241);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_information{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.item_picture{
    width: 35%;
}
.picture{
    margin-top: 2rem;
    width: 100%;
    height: 440px;
    background: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.item_detail h2{
    width: 100%;
    font-size: 2rem;
}
.item_box{
    margin: 2rem 5%;
    width: 40%;
}
.item_box h4{
    margin: 1rem 0;
    font-size: 1.2rem;
}
.item_data{
    background: white;
    padding: 1rem 5%;
    width: 90%;
    color: rgb(88 88 88);
}
#scale{
    width: 90%;
    margin-right: 5%;
    font-size: 1.3rem;
}
.NM{
    margin-top: 0.3rem !important;
}
.info_box{
    width: 100% !important;
}
.item_data{
    display: inline-block;
    width: 90%;
}
.info_data{
    line-height: 1.5;
    height: 10rem;
}
.item_price{
    margin: 2rem 5%;
    width: 80%;
    padding: 1rem 5%;
    background: white;
}
.item_price h4{
    display: inline;
    font-size: 1.3rem;
    margin-left: 5%;
}
.item_price p{
    display: inline;
    font-size: 1.3rem;
    vertical-align: sub;
}
.item_picture button{
    border: 1px solid black;
    font-family: inherit;
    width: 80% !important;
    margin: 1rem 10%;
    height: 4rem;
    background-color: black;
    color: white;
    transition: 400ms;
}
.item_picture button:hover{
    color: black;
    background-color: white;
    transition: 400ms;
    cursor: pointer;
}
.comments{
    margin: 1rem 5% 0 5%;
    width: 85%;
    background: rgb(241, 241, 241);
    padding: 2%;
}
#comment_header{
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: top;
    margin: 1rem 1% 0 0;
}
#comment_pic{
    display: inline-block;
    width: 60px;
    height: 48px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../public/images/comment_icon.png");
}
.new_comment{
    display: inline-block;
    width: 40%;
    margin: 2rem 0;
    border-left: 1px solid rgb(112 112 112);
}
#name_lable{
    width: max-content;
    display: inline-block;
    margin-bottom: 2rem;
}
.new_comment input{
    font-family: inherit;
    border: none;
    width: 90%;
    height: 3rem;
    padding-right: 1%;
    transition: 400ms;
}
.new_comment input:hover ,
.new_comment textarea:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition : 400ms ;
}
#comment_lable{
    margin: 2rem 0 1rem 0;
    display: inline-block;
}
.new_comment textarea{
    font-family: inherit;
    resize: none;
    border: none;
    width: 91%;
    transition: 400ms;
}
.new_comment button{
    font-family: inherit;
    border: 1px solid black;
    background: black;
    color: white;
    margin-top: 1.5rem;
    margin-right: 20%;
    width: 50%;
    padding: 0.7rem 0;
    transition: 400ms;
}
.new_comment button:hover {
    background-color: white;
    color: black;
    transition : 400ms ;
    cursor: pointer;
}
.posted_comment{
    display: inline-block;
    width: 50%;
    padding-right: 5%;
    vertical-align: top;
}
.comment_box{
    width: 90%;
    background: white;
    padding: 4%;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.sender_name{
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
}
.comment_box p{
    display: inline-block;
    margin-right: 5%;
    border-right: 1px solid rgb(112 112 112);
    padding-right: 5%;
    color: rgb(112 112 112);
    font-size: 0.8rem;
}
.comment_txt_box{
    line-height: 1.6;
}
.posted_comment button{
    border: 1px solid black;
    font-family: inherit;
    width: 40% !important;
    margin: 1rem 0;
    height: 4rem;
    background-color: black;
    color: white;
    transition: 400ms;
}
.posted_comment button:hover{
    color: black;
    background-color: white;
    transition: 400ms;
    cursor: pointer;
}
@media (max-width : 64rem) {
    .item_detail h2 {
        font-size: 1.3rem;
        margin: 1rem 5% 0 0;
    }
    .item_box h4 {
        font-size: 0.9rem;
        
    }
    #scale{
        font-size: 1rem;
    }
    .item_information {
        padding: 0 0 0 0%;
    }
    .item_picture {
        width: 35%;
    }
    .picture{
        height: 300px;
    }
    .item_price h4 ,
    .item_price p{
        font-size: 0.8rem;
        vertical-align: bottom;
    }
    .info_box{
        width: 84%;
        margin-top: 0rem;
    }
    .item_data{
        font-size: 0.8rem;
        line-height: 1.5;
    }
    .item_picture button{
        width: 90% !important;
        margin: 1rem 5%;
        height: 3rem;
    }

    #comment_header {
        font-size: 1.2rem;
    }
    #comment_pic {
        width: 40px;
        height: 38px;
    }
    #name_lable {
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
    }
    #comment_lable {
        margin: 1rem 0 0.7rem 0;
        font-size: 0.9rem;
        line-height: 1.5;
    }
    .new_comment button {
        margin-right: 15%;
        width: 60%;
    }
    .posted_comment {
        width: 56%;
        padding-right: 2%;
    }
    .new_comment input {
        height: 2rem;
        padding-right: 2%;
    }
    .new_comment textarea {
        height: 6rem;
    }
    .sender_name ,
    .comment_txt_box {
        font-size: 0.8rem;
    }
    .comment_box p {
        font-size: 0.6rem;
    }
}
@media (max-width : 30rem) {
    .item_information {
        width: 100%;
    }
    .item_detail{
        margin: 6rem 2% 0;
        width: 91%;
        padding: 2%;
    }
    .item_detail h2 {
        font-size: 0.7rem;
        margin: 0.5rem 5% 0 0;
    }
    .item_box h4 {
        font-size: 0.7rem;
        font-weight: 300;
        margin: 0.5rem 0;
    }
    #scale{
        font-size: 0.7rem;
    }
    .item_picture {
        width: 90%;
        margin-right: 5%;
    }
    .picture{
        height: 250px;
    }
    .item_price{
        padding: 0.5rem 5%;
        margin: 1rem 5%;
    }
    .item_price h4 ,
    .item_price p{
        font-size: 0.6rem;
        vertical-align: middle;
    }
    .item_box{
        margin: 0.3rem 5% 1rem 5%;
    }
    .item_data{
        font-size: 0.5rem;
        padding: 0.5rem 5%;
        line-height: 1.5;
    }
    .item_picture button{
        width: 90% !important;
        margin: 0.2rem 5%;
        height: 1.5rem;
        font-size: 0.6rem;
    }
    .info_data{
        height: 6rem;
    }

    #comment_header {
        font-size: 0.8rem;
    }
    #comment_pic {
        width: 30px;
        height: 22px;
        vertical-align: bottom;
    }
    .new_comment {
        width: 100%;
        margin: 1rem 0;
        border-left: none;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid;
    }
    #name_lable {
        font-size: 0.6rem;
        margin-bottom: 0.7rem;
    }
    #comment_lable {
        margin: 1rem 0 0.7rem 0;
        font-size: 0.6rem;
    }
    .new_comment input {
        width: 98%;
        height: 1.5rem;
        font-size: 0.6rem;
        padding-right: 2%;
    }
    .new_comment textarea {
        font-size: 0.6rem;
        width: 99%;
        height: 4rem;
    }
    .new_comment button {
        margin-right: 20%;
        width: 60%;
        font-size: 0.6rem;
        margin-top: 0.5rem;
        padding: 0.3rem 0;
    }
    .posted_comment {
        width: 100%;
        padding-right: 0%;
    }
    .sender_name ,
    .comment_txt_box {
        font-size: 0.6rem;
    }
    .comment_box p {
        font-size: 0.4rem;
    }
}

