#mid{
    margin-top: 13rem;
}
#mid h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
#classes{
    padding: 2%;
    display: inline-flex;
    width: 96%;
    flex-wrap: wrap;
}
.class{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
#pottery_classes{
    flex-direction: row-reverse;
}
.class_pic{
    width: 30%;
    height: 32rem;
    margin: 0 5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../public/images/cartoon_painting.png);
}
#paintin-picture{
    background-image: url(../public/images/cartoon_painting.png);
}
#pottery-picture{
    margin: 0 2%;
    background-image: url(../public/images/cartoon_painting_pottery.png);
}
#sculpture-picture{
    background-image: url(../public/images/cartoon_sculpture.jpg);
}
.class_txt{
    text-align: center;
    padding-top: 8rem;
    width: 60% ;
}
.class_name{
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.class_info{
    width: 80%;
    line-height: 1.8;
    text-align: right;
}
#classes button{
    border: 1px solid black;
    color: white;
    background-color: black;
    font-family: inherit;
    width: 25%;
    margin: 5% 30%;
    padding: 1.5%;
    transition: 400ms;
}
#classes button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 400ms;
}
@media (max-width: 83.125rem) {
    #classes button{
        width: 40%;
    }
    .class_pic{
        width: 39%;
        margin: 0 0.5%;
    }
    #pottery-picture{
        margin: 0 0;
    }
}
@media (max-width: 64rem) {
    #mid{
        margin-top: 10rem;
    }
    #mid h2{
        font-size: 1.4rem;
        font-weight: 500;
    }
    .class_name{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .class_info{
        font-size: 0.8rem;
        
    }
    .class_pic{
        width: 30%;
        height: 20rem;
        margin: 0 5%;
    }
    #pottery-picture{
        margin: 0 2%;
    }
    .class_txt{
        padding-top: 3rem;
    }
}
@media (max-width: 48rem) {
    .class_pic{
        width: 27%;
        height: 15rem;
        margin: 0 5%;
    }
    #pottery-picture{
        margin: 0 4%;
    }
    .class_txt{
        width: 63%;
    }
}
@media (max-width: 30rem) {
    #mid{
        margin-top: 6rem;
    }
    #mid h2{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .class_pic{
        width: 55%;
        height: 15rem;
        margin: 0px 22.5%;
    }
    #pottery-picture{
        margin: 0 22.5%;
    }
    .class_txt{
        width: 90%;
        margin-right: 5%;
        padding-top: 0rem;
    }
    .class_name{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .class_info{
        padding-right: 0%;
        width: 100%;
        font-size: 0.6rem;
    }
    #classes button{
        font-size: 0.6rem;
    }
}
@media (max-width: 20rem) {
    #pottery-picture{
        margin: 0 22.5%;
    }
    .class_pic{
        width: 70%;
        margin: 0px 15%;
    }
    

}