article{
    display: flex;
    background: rgb(241, 241, 241);
}
@media (max-width: 48rem) {
    article{
        flex-direction : column ;
    }
}
article h2{
    font-weight: 500;
    font-size: 2rem;
    margin: 2rem auto;
    width: fit-content;
}
.login,
.signin{
    width: 40%;
    margin: 12rem 5%;
}
@media (max-width: 64rem) {
    .login ,
    .signin{
        margin: 12rem 3%;
        width: 100%;
    }
}
@media (max-width: 48rem) {
    .login{
        margin: 10rem 10% 0 0;
        width: 80%;
    }
    .signin{
        margin: 3rem 10%;
        width: 80%;
    }
}
@media (max-width: 24rem) {
    .login{
        margin: 8rem 5% 0 0;
        width: 90%;
    }
    .signin{
        margin: 2rem 5%;
        width: 90%;
    }
}
.login a{
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 2%;
}
.login a:hover{
    text-decoration: underline;
}
 form{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    font-size: 1.3rem;
    flex-wrap: wrap;
}
 input,
 select{
    font-family: inherit;
    font-size: 1rem ;
    padding-right: 2%;
    padding-left: 1%;
    height: 3rem;
    border: 0px;
    background-color: white;
    transition: 500ms ;
    width: 96%;
    margin: 1rem 0;
}
select{
    width: 99%;
}
 form p{
    color: rgb(243, 21, 21);
    font-size: 1rem ;
    margin: 0% 2% 3%;
    display: none
}
.eye_lable{
    display: inline-block;
    width: 100%;
    font-size: 1rem !important;
    transition: 500ms ;
    text-shadow: none !important;
}
.eye_lable:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3) !important;
    transition: 500ms ;
}
.eye{
    height: fit-content;
    width: fit-content;
    margin: 0rem 3% 1rem 50%;
    vertical-align: sub;
}
.eye:hover{
    cursor: pointer;
}
.eye:focus{
    box-shadow: none !important;
}
.button{
    font-family: inherit;
    font-size: 1rem ;
    padding: 0.5rem;
    border: none;
    width: 99% !important;
    background-color: black !important;
    color: white;
    transition: 1s transform ;
}
 select:hover ,
 input:hover ,
.button:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
    transition: 500ms ;
}
 select:focus ,
 input:focus{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
    transition: 500ms ;
}
 .signin button{
    margin-bottom: 5%;
}
@media (max-width: 24rem) {
    article h2{
        font-size: 1.5rem ;
    }
    article form{
        font-size: 1rem ;
        width: 90%;
    }
}