#member-list{
    margin-right: 0.8%;
    width: 95%;
    background: rgb(241, 241, 241);
    padding: 1%;
    height: fit-content;
}
#member-list h3{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#number{
    width: 5%;
}
#commet-date{
    width: 9%;
    text-align: center;
}
#commet-name{
    width: 10%;
}
#commet-text{
    width: 50%;
}
#accept{
    width: 8%;
}
#commet-item{
width: 18%;
}
.delete_button{
    padding: 0.5rem 5%;
    width: 45%;
    border: none;
    background-color: rgb(255, 73, 73);
    font-family: inherit;
    font-size: 0.7rem;
    transition: 400ms;
}
.accept_button{
    padding: 0.5rem 5%;
    width: 45%;
    border: none;
    background-color: rgb(73, 146, 255);
    font-family: inherit;
    font-size: 0.7rem;
    transition: 400ms;
}

.delete_button:hover ,
.accept_button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: 400ms;
}