#class-list{
    margin-right: 0.8%;
    width: 95%;
    background: rgb(241, 241, 241);
    padding: 1%;
    height: fit-content;
}
table{
    text-align: center !important;
}
#class-list h3{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#mid select{
    font-family: inherit;
    width: 80%;
    background-color: rgba(0,0,0,0);
    border: none;
}
#number{
    width: 5% ;
}
#class_type ,
#class_member ,
#class_length ,
#class_time{
    width: 10%;
}
#class_price{
    width: 12% ;
}
#class_detail{
    width: 8%;
}
#class_status{
    width: 10%;
}
#class_name{
    width:20% ;
}
.detail_button ,
.info_button{
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}
.detail_button{
    color: rgb(90, 170, 59);
}
.info_button{
    color: rgb(73, 146, 255);
}
.center{
    text-align: center;
}
#courseDetail{
    display: none;
    background: rgb(241, 241, 241);
    padding: 5%;
}
#courseDetail table{
    text-align: right !important;
}
#detail-head{
    font-size: 1.7rem;
    margin: 0 3% 2rem;
    display: inline-block;
}
#back-button{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 70%;
    transition: 400ms;
}
#back-button:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px rgba(0,0,0,.5);
    transition: 400ms;
}
img{
    width: 190px !important;
}
img:hover{
    cursor:unset  !important;
}