#member-list{
    margin-right: 0.8%;
    width: 95%;
    background: rgb(241, 241, 241);
    padding: 1%;
    height: fit-content;
}
#member-list h3{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#number{
    width: 5%;
}
#commet-date{
    width: 9%;
    text-align: center;
}
#commet-name{
    width: 10%;
}
#commet-text{
    width: 50%;
}
#accept{
    width: 8%;
}
#commet-item{
width: 18%;
}
.accept_button ,
.delete_button{
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}
.accept_button{
    color: rgb(56 157 17);
}
.delete_button{
    color: rgb(204, 0, 0);
}
.center{
    text-align: center;
}