#mid{
    width: 77%;
    margin-top: 13rem;
}
#item-list{
    margin-right: 0.8%;
    width: 95%;
    background: rgb(241, 241, 241);
    padding: 1%;
    height: fit-content;
}
#item-list h3{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#number{
    width: 5%;
}
#item-price ,
#item-type{
    width: 15%;
}
#item-name ,
#item-class {
    width: 25%;
}
#item-buttons{
    width: 10%;
}

.detail_button ,
.info_button ,
.delete_button{
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}
.detail_button{
    color: rgb(90, 170, 59);
}
.delete_button{
    color: rgb(204, 0, 0);
}
.info_button{
    color: rgb(73, 146, 255);
}
.center{
    text-align: center;
}


#itemDetail{
    display: none;
    background: rgb(241, 241, 241);
    padding: 5%;
}
#itemDetail table{
    text-align: right !important;
}
#detail-head{
    font-size: 1.7rem;
    margin: 0 3% 2rem;
    display: inline-block;
}
#back-button{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 70%;
    transition: 400ms;
}
#back-button:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px rgba(0,0,0,.5);
    transition: 400ms;
}
#itemDetail img{
    width: 190px !important;
}
#itemDetail img:hover{
    cursor:unset  !important;
}
