#mid{
    margin-top: 13rem;
}
.class{
    width: 90%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap ;

}
.detail{
    margin : 1rem 1% ;
    width: 24%;
    padding : 2% ;
    background-color: rgb(247, 247, 247);
    height: fit-content;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}
.detail button{
    font-family: inherit;
    background-color: black;
    color: white;
    margin: 2rem 20% 0;
    width: 60%;
    height: 3rem;
    border: 1px solid black;
    transition: 400ms;
}
.detail button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 400ms;
}
#mid ul{
    border-bottom: 2px solid rgb(189 189 189);
}
#mid li{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0.7rem 0;
    color: rgb(112 112 112);
    flex-wrap: wrap;
}
#mid li h4{
    color: black;
}
#price{
    font-size: 1.2rem;
    color: black !important;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(200, 200, 200);
}
#course_price{
    color : #64b837 !important;
}
.info{
    margin : 1rem 1% ;
    width: 68%;
}
.picture{
    width: 100%;
    height: 20rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
#course_place{
    width: 100%;
    line-height: 1.5;
    color: black;
    margin-top: 1rem;
}
.info h3{
    font-size: 1.7rem;
    padding: 1%;
}
.info p{
    font-size: 1rem;
    line-height: 1.8;
    padding: 1%;
}
@media (max-width : 90rem) {
    .class {
        width: 99%;
        margin-right: 1%;
    }
    .detail{
        width: 27%;
    }
    .info{
        width: 63%;
    }
}
@media (max-width : 64rem) {
    .detail{
        width: 30%;
    }
    .info{
        width: 60%;
    }
    #mid {
        margin-top: 9rem;
    }
    #price {
        font-size: 0.9rem !important;
    }
    #mid li {
        font-size: 0.8rem;
    }
    .info h3 {
        font-size: 1.3rem;
    }
    .info p {
        font-size: 0.8rem;
    }
}
@media (max-width : 47rem) {
    .detail {
        width: 93%;
    }
    .info{
        width: 98%;
    }
    #mid {
        margin-top: 9rem;
    }
    .class {
        flex-direction: column-reverse;
    }
    .picture{
        height: 16rem;
    }
}
@media (max-width : 30rem) {
    #mid {
        margin-top: 5rem;
    }
    #price {
        font-size: 0.7rem !important;
        padding-bottom: 0.5rem;
    }
    #mid li {
        font-size: 0.6rem;
        margin: 0.5rem 0;
    }
    .info h3 {
        font-size: 0.9rem;
    }
    .info p {
        font-size: 0.6rem;
    }
    .picture{
        height: 10rem;
    }
    .detail button{
        margin: 1rem 20% 0;
        height: 2rem;
        font-size: 0.7rem;
    }
}