#mid{
    margin-top: 13rem;
    direction: ltr;
}
#mid h2{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}
#mid p{
    line-height: 1.8;
    padding: 1rem 5%;
    text-align: right;
    width: 74%;
    margin: 1rem 8%;
    border-radius: 10px;
    background-color: rgb(199 199 199);
}
#mid img{
    width: 50px;
    height: 40px;
}
#request_data{
    width: 80%;
    padding: 2rem 2%;
    margin: 0 8%;
    background-color: rgb(241, 241, 241);
}
#mid form{
    display: flex;
    flex-wrap: wrap;
}
.right{
    width: 49%;
    border-right: 2px solid rgb(180,180,180);
}
#coustomer_name ,
#type ,
#shapes_x ,
#shapes_y{
    padding-right: 2%;
    font-family: inherit;
    border: none;
    height: 2rem;
    margin: 1rem 0;
    width: 30%;
    transition : 400ms ;
}
#mid select{
    width: 42%;
}
#coustomer_name{
    width: 40% !important;
}
#mid textarea{
    padding-right: 2%;
    font-family: inherit;
    border: none;
    margin: 1rem 0;
    width: 66%;
    height: 10rem;
    resize: none;
    transition : 400ms ;
}
#shapes_x{
    margin-left: 3% !important;
}
#coustomer_name:hover ,
#type:hover ,
#shapes_x:hover ,
#shapes_y:hover ,
#mid textarea:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: 400ms;
}
#send_button{
    font-family: inherit ;
    background-color: black ;
    color: white ;
    width: 33% ;
    margin-right: 15% !important;
    margin-top: 1.5rem ;
    padding: 0.7rem 0 ;
    border: 1px solid black;
    transition: 400ms;
}
#send_button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 400ms;
}
#image{
    display: none;
}
#uploadLabel {
    margin: 2rem 7.5%;
    background-color: white;
    padding: 14rem 0;
    width: 35%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 64rem) {
    #mid{
        margin-top: 10rem;
    }
    #mid h2{
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    #mid p{
        padding: 1rem 2%;
        width: 80%;
        margin:0 8% 1rem 8%;
        font-size: 0.8rem;
    }
    .right label{
        font-size: 0.8rem;
    }
    #coustomer_name {
        width: 85% !important;
    }
    #mid select {
        width: 87.5%;
    }
    #shapes_x ,
    #shapes_y{
        padding-right: 2%;
        height: 2rem;
        width: 39%;
    }
    #mid textarea{
        width: 85%;
    }
    #send_button{
        width: 55%;
        margin-top: 1rem;
    }
    #uploadLabel {
        margin: 4rem 2% 1rem 0;
        background-color: white;
        padding: 11rem 0;
        width: 48%;
    }
}
@media (max-width: 47rem) {
    #uploadLabel {
        margin: 4rem 2% 1rem 0;
        background-color: white;
        padding: 11rem 0;
        width: 48%;
    }
}
@media (max-width: 30rem) {
    #mid{
        margin-top: 6rem;
    }
    #mid h2{
        font-size: 0.8rem;
        padding: 1rem 0;
    }
    #mid p{
        padding: 0.5rem 2%;
        width: 90%;
        margin:0 3% 0.5rem 3%;
        font-size: 0.6rem;
    }
    #request_data{
        width: 90%;
        margin-right: 3%;
    }
    .right label,
    #mid select ,
    #coustomer_name ,
    #shapes_x ,
    #shapes_y{
        font-size: 0.6rem;
        margin: 0.25rem 0;
    }
    #mid select ,
    #coustomer_name ,
    #shapes_x ,
    #shapes_y{
        height: 1.5rem;
    }
    #mid textarea{
        font-size: 0.6rem;
        margin: 0.25rem 0;
    }
    #send_button{
        width: 60%;
        margin-top: 0.5rem;
        font-size: 0.6rem;
        height: 1.5rem;
        padding: 0;
    }
    #uploadLabel {
        margin: 5rem 2% 1rem 0;
        background-color: white;
        padding: 5rem 0;
        width: 48%;
    }
}